<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyeon2.mappers.CusLoginMapper">

	<!-- 회원가입 처리 -->
	<insert id="memberJoin" parameterType="com.pyeon2.vo.UserMemVO">
		insert into user_member(mem_num, userid, userpwd, username, useremail, userphone)
		values(mem_num.nextVal, #{userid}, #{userpwd}, #{username},
		#{useremail}, #{userphone})
	</insert>
	
	<!-- 회원가입시 아이디 비번 추가 처리(p2_member 에 입력) -->
	<insert id="memberJoin2" parameterType="com.pyeon2.vo.UserMemVO">
		insert into p2_member(id, pwd, area) values(#{userid}, #{userpwd}, 'x')
	</insert>
	
	<!-- 신규회원 권한 주입 -->
	<insert id="memberRole" parameterType="com.pyeon2.vo.UserMemVO">
		insert into ROLE values(#{userid}, 'ROLE_CUS')
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="getId" parameterType="com.pyeon2.vo.UserMemVO" resultType="com.pyeon2.vo.UserMemVO">
		select userid from user_member where username = #{username} and useremail = #{useremail}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="getPwd" parameterType="com.pyeon2.vo.UserMemVO" resultType="com.pyeon2.vo.UserMemVO">
		select userpwd from user_member where username = #{username} and useremail = #{useremail}
	</select>
	
</mapper>